
body {
    font-family: 'Exo 2', sans-serif;
 padding: 0rem;
  margin: 0rem;
}

main svg {
  position: fixed;
  left: 0px;
  top: 0px;
  background: linear-gradient(to bottom left, #67D7F7, #8657CC);
}


li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}



@import url("https://fonts.googleapis.com/css?family=Cutive+Mono");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: 'Abel', sans-serif;
  font-size: 1.2em;
  line-height: 1.6;
  background: #CCC;
  overflow-x: hidden;
}

label .menu {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  background: #000;
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: .8s ease-in-out;
  transition: .8s ease-in-out;
  -webkit-box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
   box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
  cursor: pointer;
}
label .hamburger {
  position: absolute;
  top: 137px;
  left: 50px;
  width: 40px;
  height: 3px;
  background: #C086ED;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  border-radius: 50% 50%;
}
label .hamburger:after, label .hamburger:before {
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #F56747;
}
label .hamburger:before {
  top: -10px;
}
label .hamburger:after {
  bottom: -10px;
}
label input {
  display: none;
}
label input:checked + .menu {
  -webkit-box-shadow: 0 0 0 100vw #000, 0 0 0 100vh #FFF;
  box-shadow: 0 0 0 100vw #000, 0 0 0 100vh #FFF;
  border-radius: 0;
}
label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(180deg);
  bottom: 0;

}
label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}
label input:checked + .menu + ul {
  opacity: 1;
}
label ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .7s .1s ease-in-out;
  transition: .7s .1s ease-in-out;
  list-style-type: none;
}
label a {
  margin-bottom: 1em;
  display: block;
  color: #67D7F7;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
}
section figure{
  text-align: center;
  width: auto;
  height: auto;
  margin: auto;
  padding: inherit;
}
/*#profile-pic-holder {
margin-left: 40px;
  display: block;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  z-index: auto;
  box-shadow:0 3px 20px 0px rgba(0, 0, 0, 0.7);
}*/

img {
margin-left: 20px;
  display: block;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  z-index: auto;
  box-shadow:0 3px 20px 0px rgba(0, 0, 0, 0.7);
}


#text {
  font-family: monospace;
  display: block;
  height: 150px;
  width: 20%;
  position: relative;
  z-index: auto;
  color:   green ;

text-align: center;
border-radius: 5px;
font-size: 20px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);

}
.footer-social {
  margin: 0 auto;
  text-align: center;
  border: 1px solid #111;
  padding: 30px;
  width: 40%;
}

.footer-social a {
  width: 50px;
  height: 50px;
  margin: 0 6px;
  text-align: center;
  display: inline-block;
  color: #111;
  border-radius: 50%;
  transform: rotate(45deg);
  line-height: 25px;
  box-shadow:0 3px 20px 0px rgba(0, 0, 0, 0.8);
  transition: all 500ms ease;
}
.footer-social a i {

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
 padding: 13px;

}

#git-icon{
    color: #FFF;
    background: #000;
}
#blog-icon{
    color: #FFF;
    background:  #476FF5;
}

#linkd-icon{
    color: #476FF5;
    background: #FFF;
}


/* hover */
#git-icon:hover,#blog-icon:hover,#linkd-icon:hover{
   width: 48px;
  height: 48px;

}

#position {
	position: relative;
	left: 0;
	width: 100px;
	height: auto;
margin-top: 20px;
	padding: 20px 0;
background-color: red;
border-radius: 2px;
margin: auto;
    transform: rotate(28deg);
  box-shadow:0 3px 20px 0px rgba(0, 0, 0, 1);
}



